.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ff6666;
}

h1 {
  margin: 30px;
  font-family: Brush Script MT;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #ffa500;
}
h2{
  margin: 30px;
  font-family: Lucida Handwriting;
  font-size: 3rem;
  color: red;
}
p {
  font-size: 2rem;
  color: #9400d3;
  font-family: MV Boli;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: Gabriola;

}
